{-- Newsletter Subscription Section --}
<section class="ls-newsletter">
  <div class="nl-title">{{ __('front/common.newsletter_title', ['default' => 'Sign up for $10 OFF your next order']) }}</div>
  <div class="nl-form">
    <input type="email" class="nl-input" placeholder="{{ __('front/common.enter_email', ['default' => 'Enter Your Email Address']) }}">
    <button class="nl-submit"><i class="bi bi-arrow-right"></i></button>
  </div>
  <div class="social-icons">
    <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
    <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
    <a href="#" aria-label="Pinterest"><i class="bi bi-pinterest"></i></a>
    <a href="#" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
  </div>
</section>
